.cover {
    position: relative;
    margin-top: 92px;
    background-image: url(../../images/cover-trains.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
}

@media (max-width: 1024px) {
    .cover { 
        max-width: 1024px;
        width: 100%;
        min-height: 640px;
    }
}

@media (max-width: 768px) {
    .cover { 
        min-height: 480px;
        margin-top: 90px;
    }
}

@media (max-width: 320px) {
    .cover { 
        min-height: 200px;
        margin-top: 66px;
    }
}

