.cover {
    margin: 92px auto 0;
    max-width: 1184px;
    min-height: 740px;
}



@media (max-width: 1024px) {
    .cover { 
        max-width: 1024px;
        min-height: 640px;
    }
}

@media (max-width: 768px) {
    .cover { 
        min-height: 480px;
        margin-top: 92px;
    }
}

@media (max-width: 320px) {
    .cover { 
        min-height: 200px;
        margin-top: 66px;
    }
}

