.footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 92px auto 0;
    padding-bottom: 24px;
}

@media (max-width: 1024px) {
    .footer { 
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .footer { 
        max-width: 720px;
        margin: 88px auto 0;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .footer { 
        flex-direction: column;
        min-height: 310px;
        align-items: flex-start;
        margin: 64px auto 0;
    }
}