.places__website-title {
    text-transform: uppercase;
    margin: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #AAAAAA;
    letter-spacing: 2px;
}

/* @media (max-width: 320px) {
    .places__website-title {
        padding-left: 16px;
    } 
}   */